
/* Montserrat-regular */
@font-face {
    font-family: Montserrat;
    font-style: normal;
    src: url(fonts/Montserrat-Regular.ttf);
}

/* Oswald-regular */
@font-face {
    font-family: Oswald;
    font-style: normal;
    src: url(fonts/Oswald-VariableFont_wght.ttf);
}


/* common styles */

* {
    box-sizing: border-box;
    font-family: Montserrat;    
 }

 body {
     margin: 0;
 }

 .container {
    width: 1278px;
    margin: auto;
    
 }

 /* buttons */

 .btn-top {
     font-family: Montserrat;
     font-style: normal;
     font-size: 24px;
     width: 276px;
     height: 45px;
     background-color: #fff;
     border: none;
     border-radius: 5px;
     
 }

/* header */

.header {
    padding: 30px 0;
    background-color: #66D1FF;
    height: 112px;
}


.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 295px;
    height: 50px;
}

.phone-nr {
    color: #000;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    text-decoration: none;
    
}

/* promo */

.promo-title {
    font-family: Oswald; 
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 89px;
    display: flex;
    text-transform: uppercase;
}

.promo p {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    display: flex;
  }

/* learn */
/* lead */


/* footer */

.footer {
    background-color: #060D10;
    color: #fff;
}