
/* Montserrat-regular */
@font-face {
    font-family: Montserrat;
    font-style: normal;
    src: url(fonts/Montserrat-Regular.ttf);
}

/* Oswald-regular */
@font-face {
    font-family: Oswald;
    font-style: normal;
    src: url(fonts/Oswald-VariableFont_wght.ttf);
}


/* common styles */

* {
    box-sizing: border-box;
    font-family: Montserrat;       
 }

 body {
     margin: 0;
 }

 .container {
    width: 1278px;
    margin: auto;
    border: 1px solid red;
 }

 .container.border {
     border-bottom: 1px solid #000;
 }



 /* buttons */

 .btn {
     font-family: Montserrat;
     font-style: normal;
     font-size: 24px;
     width: 276px;
     height: 45px;
     background-color: #fff;
     border: none;
     border-radius: 4px;
     }

.btn.bottom {
    background-color: none;
    border: 1px solid #060D10;
    
    width: 505px;
    height: 86px;
    font-size: 36px;
    line-height: 44px;
}     


/* header */

.header {
    padding: 30px 0;
    background-color: #66D1FF;
    height: 112px;
}


.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 295px;
    height: 50px;
}

.phone-nr {
    color: #000;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    text-decoration: none;
    
}

/* promo */

.promo {
    text-align: center;
    color: #FFFFFF;
    text-shadow: 1px 1px 2px #060D10;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.promo-fade {
    padding: 240px 0 260px 0;
    background-color: rgba(41, 6, 54, .25);
}

.promo-title {
    margin-top: 0;
    margin-bottom: 60px;
    font-family: Oswald;
    font-weight: 500;
    font-size: 60px;
    line-height: 89px;
}

.promo-text {
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 0;
    font-size: 32px;
    line-height: 39px;
}

/* options */

.options {
    padding: 170px 0 0 0;
    background-color: rgba(102, 209, 255, .1);
}




.options-title {
    padding-bottom: 100px;
    text-align: center;
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 167%;    
    text-transform: uppercase;
    color: #060D10;
    
}

.options-list {
    margin-bottom: 170px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: space-between;
}

.options-item {
    width: 406px;
}


.card-heading {
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 167%;
    text-transform: uppercase;
    color: #060D10;
}

.card-text {
    font-size: 26px;
    line-height: 140%;
}


      
    

/* lead */

.lead {
    padding: 170px 0 180px 0;
    background-color: rgba(102, 209, 255, .1);
}

.lead-title {
margin-bottom: 60px;
font-family: Oswald;
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 167%;
text-align: center;
text-transform: uppercase;
color: #060D10;
}

.btn-bottom {
    text-align: center;
}

.lead-images {
    justify-content: space-between;
    padding-top: 130px;
    display: flex;
}

/* footer */

.footer {
    background-color: #060D10;
    color: #fff;
}